Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay

WarningsAsErrors: "*"

HeaderFilterRegex: "include/alt/.*"

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MemberPrefix
    value: m_
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
